.App {
  text-align: center;
}

.main {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f0ed95;
}

.button {
  background-color: #fd0839;
  border-radius: 10px;
  border-style: none;
  height: 30px;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(151, 151, 142);
}
.desc {
  color: grey;
}
.price {
  font-size: 20px;
  font-weight: bold;
}
.images {
  border: 1px solid rgb(65, 59, 59);
  /* background-color: aqua; */
}
.img {
  /* border: 1px solid rgb(19, 13, 186); */
  border-radius: 20px;
  width: 190px;
  height: 200px;
}
.prd-Names {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #fd0839;
}
.links {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
}
.heading {
  color: blue;
  font-family: cursive;
  background-color: #08bcfd;
  /* border-radius: 30px; */
  /* border-width: 90%; */
}
.main-form {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

input {
  border: 2px solid grey;
  border-radius: 10px;
}

.login-btn {
  border-style: none;
  background-color: green;
  height: 25px;
  border-style: hidden;
  border-radius: 10px;
  margin-top: 10px;
}
.login-btn:hover {
  background-color: rgb(3, 122, 122);
}
